//- 
include ../mixins/img
include ../mixins/button-form
include ../mixins/heading-h2


//- 
section.form-contacts.bg-eighth

    .row.no-gutters.justify-content-center.align-items-center.h-100.container-section

        .col-lg-6.form-contacts__heading.d-flex.flex-column.align-items-start.justify-content-center.h-100
            +headingH2('ready to request a quote?', '2', 'text-large text-light-1 weight-bolder text-uppercase line-height width-90')

            p(class="first-letter text-xsmall width-60 text-light-1 mt-4" key=titlePage data-lang="par-3") We would love to work with you to cook up your next idea take the first step by choosing a project type and filing in the form we look forward to hearing from you.

        .col-lg-6.form-contacts__form-group

            form.row.no-gutters.flex-column.h-100.py-5#form

                .col.form-contacts__form-group__one
                    label(class="text-primary text-uppercase weight-bold" key=titlePage data-lang="labelOne" id="labelOne")
                    div.input-group
                        input(class="form-control py-4 pl-4 border-light-2 rounded" type="tel" id="phone" key=titlePage data-lang="phone" autocomplete="off")
                        input(class="form-control py-4 pl-4 border-light-2 rounded" type="email" id="email" key=titlePage data-lang="email" autocomplete="off")
                    div.text-light-1.d-flex.flex-column.flex-sm-row.mt-2
                        span.width-50.first-letter#messagePhone
                        span.width-50.first-letter#messageEmail

                .col.mt-4.form-contacts__form-group__two
                    label(class="text-primary text-uppercase weight-bold" key=titlePage data-lang="labelTwo" id="labelTwo")
                    div
                        +btnForm('button', 'website', 'website','form-select py-2 px-4 text-uppercase text-light-1 btn-outline-primary')

                        +btnForm('button', 'mobile app', 'mobile app', 'form-select py-2 px-4 text-uppercase text-light-1 btn-outline-primary')

                        +btnForm('button', 'branding', 'branding', 'form-select py-2 px-4 text-uppercase text-light-1 btn-outline-primary')
                    div.text-light-1.mt-3
                        span.width-50.first-letter#messageInterested

                .col.mt-4.form-contacts__form-group__three
                    textarea(class='form-control border-light-2 rest-textarea' key=titlePage data-lang="textArea" id="textArea")
                    div.text-light-1.mt-3
                        span.width-50.first-letter#messageTextArea

                .col.mt-4.form-contacts__form-group__four
                    //- +btnForm('submit', 'send an application', '', 'py-3 px-5 text-uppercase text-light-1 btn-primary submitForm', 'submit')

                    +btnForm('submit', 'send an application', '', 'py-3 px-5 text-uppercase text-light-1 btn-primary submitForm', 'submit')(key=titlePage data-lang="submit")


